.container {
    margin: 6rem auto;

    .circle {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 30px;
        margin: 50px auto;
    }

    .number {
        width: 70px;
        height: 70px;
        text-align: center;
        border-radius: 50%;
        font-weight: bold;
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .layout {
        margin: 3rem auto;
        display: flex;
        justify-content: center;
        gap: 30px;
        height: 50vh;

        .form-control {
            max-width: 500px;
            // border: 1px solid red;
            background-color: rgb(51, 51, 53);

            .num-input {
                margin-top: 1rem;
                display: flex;
                gap: 15px;

                input {
                    max-width: 300px;
                    width: 100%;
                    height: 50px;
                    border-radius: 0.5rem;
                    padding: 1rem;
                }
            }

            .error {
                font-size: 20px;
            }
        }

        .button-layout {
            display: flex;
            flex-direction: column;
            max-width: 200px;
            width: 100%;
            gap: 1rem;

            button {
                height: 50px;
                box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                border-radius: 10px;
            }
        }
    }
}

@media (max-width: 768px) {
    .layout {
        flex-direction: column;
        align-items: center;

        .form-control {
            margin-top: 50px;
            width: 100%;
            max-width: 100%;

            .num-input {
                flex-direction: column;
                gap: 10px;
                align-items: center;
            }

            .error {
                margin-left: 0;
                max-width: 100%;
                text-align: center;
            }
        }

        .button-layout {
            margin-top: 30px;
            width: 100%;
            align-items: center;

            button {
                width: 100%;
            }
        }
    }
}
